@use '../base/' as base;

@mixin button-primary {
    font-size: base.$paragraph-3;
    padding: 1.125rem 1.5rem;
    background-color: base.$primary-light;
    font-weight: 500;
    border-radius: 6px;
    color: base.$white;
}