$header-1 : 4.5rem;
$header-2 : 4rem;
$header-3 : 3.375rem;
$header-4 : 2.25rem;
$header-5 : 1.75rem;
$paragraph-1 : 1.5rem;
$paragraph-2 : 1.125rem;
$paragraph-3 : 1rem;
$font-family: 'Inter', sans-serif;

